## Day-2 for Pandas

In [2]:
import pandas as pd

### Using CSV file for data

In [3]:
df=pd.read_csv("prac.csv")
df

,ID,Name,Age,Gender,Department,Salary,Experience,City,Joining_Date
0,1,Aarav Mehta,25,Male,Engineering,52000,2,Mumbai,2022-03-15
1,2,Isha Sharma,28,Female,Marketing,48000,3,Delhi,2021-08-22
2,3,Rahul Verma,35,Male,Finance,75000,8,Bangalore,2017-05-10
3,4,Neha Singh,30,Female,HR,60000,5,Pune,2019-11-18
4,5,Karan Patel,26,Male,Engineering,55000,2,Hyderabad,2022-06-02
5,6,Priya Nair,33,Female,Design,67000,7,Chennai,2018-09-29
6,7,Ankit Tiwari,24,Male,Engineering,50000,1,Delhi,2023-01-20
7,8,Ritika Das,27,Female,Finance,62000,4,Kolkata,2020-07-12
8,9,Manish Gupta,40,Male,Management,95000,12,Mumbai,2013-02-11
9,10,Simran Kaur,29,Female,Marketing,53000,3,Bangalore,2021-10-05
10,11,Vikas Yadav,32,Male,Engineering,72000,6,Pune,2019-03-15
11,12,Anjali Rao,31,Female,HR,61000,5,Chennai,2020-12-01
12,13,Saurabh Jain,27,Male,Finance,59000,3,Hyderabad,2021-06-22
13,14,Meena Joshi,45,Female,Management,105000,18,Mumbai,2007-01-03
14,15,Aditya Khanna,23,Male,Engineering,47000,1,Delhi,2023-05-10
15,16,Kavya Menon,34,Female,Design,70000,8,Bangalore,2016-08-25
16,17,Rohan Bhatia,37,Male,Finance,85000,10,Pune,2015-09-09
17,18,Tanya Kapoor,29,Female,HR,64000,4,Chennai,2020-05-13
18,19,Siddharth Jain,26,Male,Marketing,49000,2,Kolkata,2022-08-18
19,20,Neeraj Sinha,39,Male,Management,92000,11,Delhi,2014-04-20
20,21,Divya Iyer,28,Female,Design,58000,3,Mumbai,2021-11-07
21,22,Aman Sharma,25,Male,Engineering,52000,2,Bangalore,2022-02-15
22,23,Harshita Goyal,32,Female,Finance,75000,6,Pune,2019-09-30
23,24,Abhishek Das,29,Male,Marketing,51000,4,Hyderabad,2020-06-10
24,25,Chirag Soni,31,Male,Engineering,70000,5,Chennai,2019-12-21
25,26,Sneha Reddy,35,Female,HR,68000,9,Bangalore,2015-03-28
26,27,Deepak Kumar,27,Male,Finance,60000,3,Delhi,2021-05-25
27,28,Rupali Mishra,30,Female,Design,62000,4,Pune,2020-01-12
28,29,Nikhil Raj,33,Male,Engineering,75000,7,Hyderabad,2018-10-04
29,30,Aditi Deshmukh,38,Female,Management,97000,12,Mumbai,2013-08-09

### Data handling and cleaning

In [4]:
null=df.isnull()
null

,ID,Name,Age,Gender,Department,Salary,Experience,City,Joining_Date
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False

In [5]:
res=null.sum()
res

ID              0
Name            0
Age             0
Gender          0
Department      0
Salary          0
Experience      0
City            0
Joining_Date    0
dtype: int64